<main>
 
 <app-header></app-header>
   <div class="main-content">
    <app-navbar></app-navbar>
     <article class="about  active" data-page="about">

        <header>
          <h2 class="h2 article-title">ABOUT ME</h2>
        </header>

        <section class="about-text">
          <p>
            Currently, I am a Software Engineering graduated from the National School of Engineers of Carthage,I am looking for  a new opportunity of job to enrich my professional
             experience and deepen my knowledge mainly in the field of web development .Autonomous, people oriented and highly motivated, I am ecstatic to have the opportunity to demonstrate my technical expertise and leadership abilities.
          </p>

        </section>
        
        <section class="service">

          <h3 class="h3 service-title">What i'm doing</h3>

          <ul class="service-list">
            <li class="service-item">

              <div class="service-icon-box">
                <img src="./assets/images/icon-design.svg" alt="Web development icon" width="50">
              </div>

              <div class="service-content-box">
                <h4 class="h4 service-item-title">Web design</h4>

                <p class="service-item-text">
                  The most modern and high-quality of desgin made at a professional level                </p>
              </div>

            </li>
            <li class="service-item">

              <div class="service-icon-box">
                <img src="./assets/images/icon-dev.svg" alt="Web development icon" width="50">
              </div>

              <div class="service-content-box">
                <h4 class="h4 service-item-title">Web development</h4>

                <p class="service-item-text">
                  High-quality development of sites at the professional level.
                </p>
              </div>

            </li>


            <li class="service-item">

              <div class="service-icon-box">
                <img src="./assets/images/learning-machine-ai (1).svg
                " alt="Machine Lerning icon" width="50">
              </div>

              <div class="service-content-box">
                <h4 class="h4 service-item-title">Machine Learning</h4>

                <p class="service-item-text">
                  The most modern and high-quality of machine lerning model made at a professional level.
                </p>
              </div>

            </li>

       
            <li class="service-item">

              <div class="service-icon-box">
                <img src="./assets/images/icon-app.svg" alt="mobile app icon" width="50">
              </div>

              <div class="service-content-box">
                <h4 class="h4 service-item-title">Mobile apps</h4>

                <p class="service-item-text">
                  Professional development of applications for Android.
                </p>
              </div>

            </li>

            

          </ul>

        </section>


</article>

</div>
</main>


