<main>
 
    <app-header></app-header>
      <div class="main-content">
       <app-navbar></app-navbar>
        <article class="about  active" data-page="about">
   
           <header>
             <h2 class="h2 article-title">EDUCATION</h2>
           </header>
  
           <div class="section" id="education">
            <div class="container cc-education">
             <div class="card">
                <div class="row">
                  <div class="col-md-3 contact-color" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-education-header">
                      <p style="text-align:center;">2018 - 2021</p>
                      <div class="h6" style="text-align:center;">Engineering cycle in Computer Engineering</div>
                    </div>
                  </div>
                  <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                      <div class="h5">Engineering cycle in Computer Engineering</div>
                       <h4 class="category">National engineering school of Carthage– ENICAR
                       </h4>
                      
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="row">
                  <div class="col-md-3 contact-color" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-education-header">
                      <p style="text-align:center;">2016 - 2018</p>
                      <div class="h6" style="text-align:center;"> Math-physics preparatory cycle</div>
                    </div>
                  </div>
                  <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                      <div class="h5"> Math-physics preparatory cycle</div>
                       <h4 class="category">Preparatory Institute for Engineering Studies of Nabeul - IPEIN
                       </h4>
                      
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="row">
                  <div class="col-md-3 contact-color" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-education-header">
                      <p style="text-align:center;">2015 - 2016</p>
                      <div class="h6" style="text-align:center;"> Baccalaureate in Mathematics</div>
                    </div>
                  </div>
                  <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                      <div class="h5"> Baccalaureate in Mathematics</div>
                       <h4 class="category">Technical high school of Menzel Temime-Nabeul-Tunisia
                       </h4>
                    
                  
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>  
   
   </article>
   
   </div>
   </main>
   
   
   