<nav class="navbar">

    <ul class="navbar-list">

      <li class="navbar-item">
        <button class="navbar-link" data-nav-link>
        <a   routerLink="/">ABOUT
           

          </a>
          </button>
        </li>
    <li class="nav-item"  >
      <button class="navbar-link" data-nav-link>
      <a   routerLink="/Education" >EXPERIENCE</a>
       </button>
        </li>  
    

      <li class="navbar-item">
        <button class="navbar-link" data-nav-link>  <a   routerLink="/Education" >PROJECTS</a></button>
      </li>

      <li class="navbar-item">
        <button class="navbar-link" data-nav-link>  <a   routerLink="/Education" >SKILLS</a></button>
      </li>

      <li class="navbar-item">
        <button class="navbar-link" data-nav-link>  <a  routerLink="/Education" >EDUCATION</a></button>
      </li>

      <li class="navbar-item">
        <button class="navbar-link" data-nav-link>  <a  routerLink="/Education" >CONTACT</a></button>

      </li>

    </ul>

  </nav>